<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="../lib/fontawesome-free-6.3.0-web/css/all.css"
    />
    <title>Mi Pagina</title>
  </head>
  <body>
    <div class="container" id="ctn">
      <!-- <header> -->
      <!-- <div class="logo">
            <img src="" alt="">
        </div> -->
      <nav id="navBar" class="nav-bar side-barO">
        <!-- <button id="btnSideC" class="btn-side">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button id="btnSideA" class="btn-side">
            <i class="fas fa-arrow-right"></i>
          </button> -->

        <ul>
          <li class="liO">
            <div class="logo">
              <img src="../img/logo.webp" alt="" />
            </div>
          </li>
          <li class="liO">
            <a href="#" id="adm"
              ><span class="fas fa-screwdriver-wrench"></span>
              <h4>Aministración</h4></a
            >
          </li>
          <li class="liO">
            <a href="stadistics.html" id="est"
              ><span class="fas fa-bar-chart"></span>
              <h4>Estadisticas</h4></a
            >
          </li>
          <li class="liO">
            <a href="JsYoutube.html"
              ><span class="fas fa-solid fa-youtube"></span>
              <h4>Curso js Youtube</h4></a
            >
          </li>
          <li class="liO">
            <a href="Ejercicios.html"
              ><span class="fas fa-list-numeric"></span>
              <h4>Ejercicios JS</h4></a
            >
          </li>
          <li class="liO">
            <a href="miniPagejs.html"
              ><span class="fas fa-road-circle-exclamation"></span>
              <h4>Pagina de curso Youtube</h4></a
            >
          </li>
          <li class="liO">
            <a href="#"
              ><span class="fas fa-cart-shopping"></span>
              <h4>Productos</h4></a
            >
          </li>
          <li class="user liO">
            <span class="fas fa-user-circle"></span>
            <h4 id="user"></h4>
            <div class="drop-content">
              <a href="../view/login.html" id="logout">Logout</a>
            </div>
          </li>
        </ul>
        <div class="btn">
          <button id="btnSideC" class="btn-side">
            <i class="fas fa-square-caret-right"></i>
          </button>
          <!-- <button id="btnSideA" class="btn-side">
          <i class="fas fa-arrow-right"></i>
        </button> -->
        </div>
      </nav>

      <!-- </header> -->
      <main>
        <section id="home">
          <!-- <div class="layout-home"> -->
          <!-- <div class="home"> -->
          <h1 class="title">Admin</h1>
          <h2 class="subtitle"></h2>
          <!-- </div> -->
          <div class="card">
            <div class="card-header">
              <h2>Lista de usuarios</h2>
            </div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptate eius ab delectus maxime praesentium, maiores ea atque id
              temporibus consequuntur doloribus nostrum. Laudantium voluptatem
              itaque ad ex quasi magni similique!
            </p>
            <!-- <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div> -->
          </div>
          <div class="card" id="ptlb">
            <div class="btn-add">
              <span id="agregar" class="fas fa-plus-circle"></span>

            </div>

            <table id="tlb">
              <!-- <tr class="trAc">
                <th></th>
                <th></th>
                <th class="btn-ag">
                  <span id="agregar" class="fas fa-plus-circle"></span>
                </th>
              </tr> -->
              <tr>
                <th>Nombre de Usuario</th>
                <th>Contraseña</th>
                <th>Acciones</th>
              </tr>
              <!-- <div id="lista-users"> -->
                <!-- <tr id="dTable"> -->
                  <!-- <td id="username"></td>
                <td ></td>
                <td>
                  <button><span class="fas fa-eraser"></span></button>
                  <button><span class="fas fa-check"></span></button>
                </td> -->
                <!-- </tr> -->
              <!-- </div> -->
            </table>
          </div>
          <!-- </div> -->
        </section>
      </main>
    </div>

    <div class="modal-container">
      <div class="modal modal-close">
        <p class="close">X</p>
        <!-- <div class="modal-img">
          <img src="img/ESPECIAS.webp" alt="" />
        </div> -->
        <div class="modal-text">
          <!-- <h2>Agragar nuevo usuario</h2> -->
          <form action="" id="fAdd">
            <div class="title-login">
              <h1>Agregar nuevo usuario</h1>
            </div>
            <div class="formInp" id="cltc">
              <label for="">Nombre</label>
              <input class="inp" type="text" id="clt" />
              <span class="msj">Verifique que los datos sean correctos</span>
            </div>
            <div class="formInp" id="pswc">
              <label for="">Contraseña</label>
              <input class="inp" type="password" id="psw" />
              <span class="msj"
                >La contrseña debe de tener entre 4 a 14 caracteres</span
              >
            </div>
            <button class="btnL" id="AddUser">Agregar</button>
          </form>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
            sunt! Ipsam alias nostrum sed consequatur ver
          </p> -->
        </div>
      </div>
    </div>

    <div class="toast-error toast-close">
      <p>
        Upps, hubo algun error al querer iniciar sesion, comprueba los datos
      </p>
    </div>
    <div class="toast-success toast-close">
      <p>Inicio de sesion correcto</p>
    </div>
    <!-- <script src="../js/dataGlobal.js" type="module"></script> -->
    <script src="../js/index.js" type="module"></script>
    <script src="../js/validacionModal.js" type="module"></script>
  </body>
</html>
