<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="../lib/fontawesome-free-6.3.0-web/css/all.css"
    />
    <title>Mi Pagina</title>
  </head>
  <body>
    <div class="container">
      <!-- <header> -->
      <!-- <div class="logo">
            <img src="" alt="">
        </div> -->
      <nav id="navBar" class="nav-bar side-barO">
        <!-- <button id="btnSideC" class="btn-side">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button id="btnSideA" class="btn-side">
            <i class="fas fa-arrow-right"></i>
          </button> -->

        <ul>
          <li class="liO">
            <div class="logo">
              <img src="../img/logo.webp" alt="" />
            </div>
          </li>
          <li class="liO">
            <a href="#"
              ><span class="fas fa-home-alt"></span>
              <h4>Inicio</h4></a
            >
          </li>
          <li class="liO">
            <a href="#"
              ><span class="fas fa-bar-chart"></span>
              <h4>Estadisticas</h4></a
            >
          </li>
          <li class="liO">
            <a href="#"
              ><span class="fas fa-solid fa-truck"></span>
              <h4>Pedidos</h4></a
            >
          </li>
          <li class="liO">
            <a href="#"
              ><span class="fas fa-cash-register"></span>
              <h4>Ventas</h4></a
            >
          </li>
          <li class="liO">
            <a href="#"
              ><span class="fas fa-road-circle-exclamation"></span>
              <h4>Sequimiento</h4></a
            >
          </li>
          <li class="liO">
            <a href="#"
              ><span class="fas fa-cart-shopping"></span>
              <h4>Productos</h4></a
            >
          </li>
          <li class="user lio">
              <span class="fas fa-user-circle"></span>
              <h4 id="user"> </h4>
            
          </li>
        </ul><div class="btn">
        <button id="btnSideC" class="btn-side">
          <i class="fas fa-arrow-right"></i>
        </button>
        <!-- <button id="btnSideA" class="btn-side">
          <i class="fas fa-arrow-right"></i>
        </button> -->
      </div>
      </nav>
      
      <!-- </header> -->
      <main>
        <section id="home">
          <!-- <div class="layout-home"> -->
          <!-- <div class="home"> -->
          <h1 class="title">Bienvenidos</h1>
          <h2 class="subtitle"></h2>
          <!-- </div> -->
          <div class="card">
            <div class="card-header">
              <h2>APARTADO INICIO</h2>
            </div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptate eius ab delectus maxime praesentium, maiores ea atque id
              temporibus consequuntur doloribus nostrum. Laudantium voluptatem
              itaque ad ex quasi magni similique!
            </p>
            <!-- <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div> -->
          </div>
          <!-- </div> -->
        </section>
      </main>
    </div>
    <!-- <script src="../js/dataGlobal.js" type="module"></script> -->
    <script src="../js/index.js" type="module"></script>
  </body>
</html>
