<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../lib/fontawesome-free-6.3.0-web/css/all.min.css">
    <title>Document</title>
</head>
<style>
    .eventos-flujo div{
        padding: 4rem;
        font-size: 2rem;
        text-align: center;
    }
    .uno{
        background: #b9d30a;
    }
    .dos{
        background: #fafa;
    }
    .tres{
        background: #be0505;
    }
</style>
<body>
    <div class="container" id="ctn">
        <!-- <header> -->
        <!-- <div class="logo">
              <img src="" alt="">
          </div> -->
        <nav id="navBar" class="nav-bar side-barO">
          <!-- <button id="btnSideC" class="btn-side">
              <i class="fas fa-arrow-left"></i>
            </button>
            <button id="btnSideA" class="btn-side">
              <i class="fas fa-arrow-right"></i>
            </button> -->
  
          <ul>
            <li class="liO">
              <div class="logo">
                <img src="../img/logo.webp" alt="" />
              </div>
            </li>
            <li class="liO">
              <a href="index.html" id="adm"
                ><span class="fas fa-screwdriver-wrench"></span>
                <h4>Aministración</h4></a
              >
            </li>
            <li class="liO">
              <a href="stadistics.html" id="est"
                ><span class="fas fa-bar-chart"></span>
                <h4>Estadisticas</h4></a
              >
            </li>
            <li class="liO">
              <a href="JsYoutube.html"
                ><span class="fas fa-solid fa-youtube"></span>
                <h4>Curso Js Youtube</h4></a
              >
            </li>
            <li class="liO">
              <a href="Ejercicios.html"
                ><span class="fas fa-list-numeric"></span>
                <h4>Ejercicios JS</h4></a
              >
            </li>
            <li class="liO">
              <a href="miniPagejs.html"
                ><span class="fas fa-road-circle-exclamation"></span>
                <h4>Sequimiento</h4></a
              >
            </li>
            <li class="liO">
              <a href="#"
                ><span class="fas fa-cart-shopping"></span>
                <h4>Productos</h4></a
              >
            </li>
            <li class="user liO">
                <span class="fas fa-user-circle"></span>
                <h4 id="user"> </h4>
                <div class="drop-content">
                  <a href="../view/login.html" id="logout">Logout</a>
                </div>
              
            </li>
          </ul><div class="btn">
          <button id="btnSideC" class="btn-side">
            <i class="fas fa-square-caret-right"></i>
          </button>
          <!-- <button id="btnSideA" class="btn-side">
            <i class="fas fa-arrow-right"></i>
          </button> -->
        </div>
        </nav>
        <main>
            <div>
                <h1 class="title">Apartado de curso de Js en youtube</h1>
            </div>
            <div class="jsyou">
                <h5>La mayoria esta es en consola</h5>
                <h5>La mayoria esta es en consola</h5>
                <a class="link-dom" href="" data-description="Document Object Model">HOLAHOLA</a>
                <form action="" class="speach" id="speach">
                    <h3>Lector de mensaje</h3>

                    <input type="text" id="inpV" placeholder="Escribe un mensaje para escucharlo">
    
                    <button id="btnB"> <span class="fas fa-bullhorn"></span></button>
                </form>

                <div class="event">
                    <button id="evento-semantico">Otro tipo de manejar eventos</button>
                </div>

                <section class="eventos-flujo">
                    <div class="uno">
                         1
                         <div class="dos">
                            2
                            <div class="tres">
                                3
                            </div>
                         </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <script src="../js/index.js" type="module"></script>
    <script src="../js/jsYou.js"></script>
</body>
</html>