<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="../lib/fontawesome-free-6.3.0-web/css/all.min.css"
    />
    <link rel="shortcut icon" href="../img/logo.webp" type="image/x-icon" />
    <title>TCS</title>
  </head>
  <body>
    <div id="btn-top">
        <span class="fas fa-angle-double-up"></span>
    </div>
    <!-- NAV BAR -->
    <header>
      <div class="menu-principal">
        <div class="logo" id="logo">
          <img src="../img/ESPECIAS.webp" alt="logotipo" />
        </div>
        <div class="menu-bar" id="menuBar">
          <i class="fas fa-angle-right" id="btnCloseMenu"></i>

          <nav class="enlaces" id="enlaces">
            <ul>
              <li><a href="#menuProductos">Inicio</a></li>
              <li><a href="#servicios">Servicios</a></li>
              <li><a href="#equipo">Nosotros</a></li>
              <li><a href="#contacto">Contacto</a></li>
              <!-- <li><a href="">Casos de éxito</a></li>
              <li><a href="">Contáctanos</a></li> -->
            </ul>
          </nav>
          <div class="social">
            <a href=""><span class="fab fa-facebook"></span></a>
            <a href=""><span class="fab fa-instagram"></span></a>
            <a href=""><span class="fab fa-youtube"></span></a>
            <a href=""><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
        <i class="fas fa-bars" id="btnOpenMenu"></i>
      </div>
    </header>
    <!-- NAV BAR FIN -->

    <!-- SLIDDER PRODUCTOS -->
    <main>
      <section id="menuProductos">
        <div class="container-p">
          <button id="btnIzq" class="fas fa-angle-double-left"></button>
          <div class="slider">
            <div class="container-pr">
              <div class="description-pr">
                <h2>Producto Premium</h2>
                <h1>Arrachera</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Consectetur, vitae?
                </p>
                <button class="btn">Pide Aqui</button>
              </div>
              <div class="img-pr">
                <img src="../img/tacos/tacoArrachera.jpeg" alt="" />
              </div>
            </div>
            <div class="container-pr">
              <div class="description-pr">
                <h2>Producto Premium</h2>
                <h1>Barbacoa</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Consectetur, vitae?
                </p>
                <button class="btn">Pide Aqui</button>
              </div>
              <div class="img-pr">
                <img src="../img/tacos/tacoCarnitas.jpeg" alt="" />
              </div>
            </div>
            <div class="container-pr">
              <div class="description-pr">
                <h2>Producto Premium</h2>
                <h1>Pastor</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Consectetur, vitae?
                </p>
                <button class="btn">Pide Aqui</button>
              </div>
              <div class="img-pr">
                <img src="../img/tacos/tacoPastor.jpeg" alt="" />
              </div>
            </div>
          </div>
          <button id="btnDer" class="fas fa-angle-double-right"></button>
        </div>
      </section>
      <section id="servicios">
        <div class="serv-title">
          <h2 class="subtitle">El mejor taco del Mundo</h2>
          <h1 class="title">Bienbenidos</h1>
        </div>
        <div class="serv-container">
          <div class="img-cent">
            <img src="../img/tacos/tacoBarbacoa.jpeg" alt="imagen" />
          </div>
          <div class="items calidad">
            <p><span class="fas fa-bowl-food"></span></p>
            <p class="title-item">Calidad</p>
            <p class="text-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              itaque ipsu
            </p>
          </div>
          <div class="items ingredientes">
            <p><span class="fas fa-cheese"></span></p>
            <p class="title-item">Ingredientes</p>
            <p class="text-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              itaque ipsu
            </p>
          </div>
          <div class="items tiempo">
            <p><span class="fas fa-clock"></span></p>
            <p class="title-item">Rapidez</p>
            <p class="text-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              itaque ipsu
            </p>
          </div>
          <div class="items delivery">
            <p><span class="fas fa-shipping-fast"></span></p>
            <p class="title-item">Delivery</p>
            <p class="text-item">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              itaque ipsu
            </p>
          </div>
        </div>
      </section>
      <section id="equipo">
        <div class="person">
          <img class="person-img" src="../img/person/c1.jpeg" alt="" />
          <div class="person-info">
            <h2>Alkacia Hasx</h2>
            <p>Chef</p>
            <div class="social-media">
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-facebook"></span></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href="#"><span class="fab fa-linkedin-in"></span></a>
            </div>
          </div>
        </div>
        <div class="person">
          <img class="person-img" src="../img/person/c2.jpeg" alt="" />
          <div class="person-info">
            <h2>Jistec levja</h2>
            <p>Chef</p>
            <div class="social-media">
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-facebook"></span></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href="#"><span class="fab fa-linkedin-in"></span></a>
            </div>
          </div>
        </div>
        <div class="person">
          <img class="person-img" src="../img/person/c3.jpeg" alt="" />
          <div class="person-info">
            <h2>Hunfio Guls</h2>
            <p>Chef</p>
            <div class="social-media">
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-facebook"></span></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href="#"><span class="fab fa-linkedin-in"></span></a>
            </div>
          </div>
        </div>
        <div class="person">
          <img class="person-img" src="../img/person/c4.jpeg" alt="" />
          <div class="person-info">
            <h2>Zseta Libgar</h2>
            <p>Chef</p>
            <div class="social-media">
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-facebook"></span></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href="#"><span class="fab fa-linkedin-in"></span></a>
            </div>
          </div>
        </div>
      </section>
      <section id="ingredientes">
        <div class="ing">
          <img class="img-ing" src="../img/tacos/tacoPastor.jpeg" alt="" />
          <div class="info-ingre">
            <p><span class="fas fa-cheese"></span></p>
            <p class="txt-ingre">Quesos</p>
          </div>
        </div>
        <div class="ing">
          <img class="img-ing" src="../img/tacos/tacoGuisados.jpeg" alt="" />
          <div class="info-ingre">
            <p><span class="fas fa-leaf"></span></p>
            <p class="txt-ingre">Especias</p>
          </div>
        </div>
        <div class="ing">
          <img class="img-ing" src="../img/tacos/tacoArrachera.jpeg" alt="" />
          <div class="info-ingre">
            <p><span class="fas fa-fill-drip"></span></p>
            <p class="txt-ingre">Salsa</p>
          </div>
        </div>
        <div class="ing">
          <img class="img-ing" src="../img/tacos/tacoCarnitas.jpeg" alt="" />
          <div class="info-ingre">
            <p><span class="fas fa-drumstick-bite"></span></p>
            <p class="txt-ingre">Carne</p>
          </div>
        </div>
      </section>
      <section id="contacto">
        <div class="title-contacto">
          <h2 class="subtitle">Queremos conocer tu opinion</h2>
          <h1 class="title">Contáctanos</h1>
        </div>
        <form action="" id="form">
          <div class="dos-campos">
            <div class="inpIcons">
              <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nombre" />
              <i class="fas fa-user"></i>
            </div>
            <div class="inpIcons">
              <input type="email" id="email" name="email" class="input-email" placeholder="Correo"/>
              <i class="fas fa-envelope"></i>
            </div>
          </div>
          <div class="fiels">
            <div class="inpIcons text-area-icon">
              <textarea
                class="textarea"
                name="comment"
                id="comment"
                placeholder="Ingresa un comentario"
              ></textarea>
              <i class="fas fa-comment"></i>
            </div>
          </div>
          <div class="field-btn">
            <input type="submit" class="btn bnt-input" value="Enviar" />
          </div>
        </form>
      </section>

      <div class="alertas">
        <div id="alert-error" class="alert hide">
            <span class="icon-alert fas fa-exclamation-circle"></span>
            <span class="msg">Error: campos de entrada vacios</span>
        </div>
        <div id="alert-sucess" class="alert hide">
            <span class="icon-alert fas fa-check-circle"></span>
            <span class="msg">!Datos Enviados</span>
        </div>
      </div>
    </main>
    <footer>
        <div class="social-metodo">
            <i class="fas fa-map-marker-alt"></i>
            <span>La Loma Lerdo Durango</span>
        </div>
        <div class="social-metodo">
            <i class="fas fa-envelope"></i>
            <span>f@tcs.com</span>
        </div>
        <div class="social-metodo">
            <i class="fas fa-phone"></i>
            <span>+712673617213</span>
        </div>
        <div class="social-metodo">
            <i class="fab fa-twitter"></i>
            <span>@tcos</span>
        </div>
    </footer>

    <script src="../js/app.js"></script>
  </body>
</html>
