:root{
    --color-primario: #2ac400;
    --color-secundario: #005118;
    --color-fondo: #eff6f5;
    --texto-dif: #a1a5a6;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

*{
    margin: 0;
    padding: 0;
} 

body{
    background: var(--color-fondo);
}

.title{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

.subtitle{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
}

.btn{
    text-decoration: none;
    background: var(--color-primario);
    padding: 10px 30px;
    border-radius: 1px;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: 2px solid var(--color-primario);
    position: relative;
    top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover{
    color: #000;
    padding: 15px 35px;
}

.btn span{
    padding-left: 10px;
}

/*-------------------------------- NAV BAR ----------------------------------- */
header{
    display: flex;
    width: 100%;
    /* justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background: #686363; */
}
.menu-principal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 30px;
    margin-top: 10px;
    background: var(--color-fondo);
    z-index: 1;
}

.logo img{
    width: 90px;
    cursor: pointer;
    /* height: 50px;
    padding: 10px; */
}

.menu-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-bar .enlaces ul li{
    display: inline-block;
    padding: 0 10px;
    /* text-align: center; */
}
.menu-bar .enlaces ul li a{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--texto-dif);
    font-weight: 600;
    background: linear-gradient(currentColor,currentColor);
    background-position: 100% 110%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: all .4s;
}

.menu-bar .enlaces ul li a:hover{
    color: var(--color-secundario);
    background-size: 100% 2px;
}

.menu-bar .social a{
    font-size: 16px;
    padding: 0 10px;
    font-weight: 500;
    color: var(--texto-dif);
    transition: all .3s
}

.menu-bar .social a:hover{
    color: #2ac400;
}
/*------------------------ NAV BAR FIN ----------------------------- */

/*------------------------ NAV BAR ADAPTABLE MOVILES ----------------------*/
/* Boton abrir menu */
.menu-principal i{
    cursor: pointer;
    color: var(--texto-dif);
    font-size: 30px;
    float: right;
    display: none;
    transition: all .5s;
}

.menu-principal i:hover{
    color: var(--color-primario);
}
/* fin boton menu */

@media screen and (max-width:650px){
    header{
        position: fixed;
        z-index: 1000;
    }
    .menu-principal{
        position: relative;
        top: 0;
    }
    .menu-principal i{
        display: block;
        position: relative;
    }

    .menu-bar{
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh; 
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        background: #333;
        transition: all .3s;
        transform: translateX(100%);
    }

    .menu-bar.active{
        transform: translateX(0%);
    }

    .menu-bar i {
        position: absolute;
        right: 50px;
        top: 50px;
    }

    .menu-bar .enlaces ul li{
        display: block;
        padding: 20px;
    }

    .menu-bar .enlaces ul li a,
    .menu-bar .enlaces a{
        font-size: 20px;
    }

    .slider{
        height: calc(100vh - 0px);
    }

    .img-pr{
        width: 65%;
    }
    .description-pr h1{
        font-size:  6vw;
    }
    .description-pr h2{
        font-size:  3vw;
    }
    /* ingrediente */
    .info-ingre .txt-ingre{
        display: none;
    }
    /* fin */

}

/* Fin Menu Responsivo */

/* Estilos para SlIDER */
.container-p{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.container-p #btnIzq,
.container-p #btnDer{
    position: absolute;
    height: 10%;
    width: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 40px;
    margin: 0 15px;
    color: var(--color-secundario);
    z-index: 500;
    outline: none;
    transition: all .3s;
}

.container-p #btnIzq:hover,
.container-p #btnDer:hover{
    color: var(--color-primario);
    background: rgba(255, 255, 15, 16%);
}

.container-p #btnIzq{
    left: 0;
}
.container-p #btnDer{
    right: 0;
}

.slider{
    display: flex;
    overflow: hidden;
    height: calc(100vh - 80px);
    scroll-behavior: smooth;
}

.container-pr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-shrink: 0;
}

.description-pr{
    width: 30%;
    margin-right: 40px;
}

.description-pr h1{
    font-size: 4vw;
    font-weight: 600;
    text-transform: uppercase;
}

.description-pr h2{
    text-transform: lowercase;
    font-size: 2.2vw;
    font-weight: 100;
}

.description-pr p{
    color: var(--texto-dif);
    font-style: italic;
    text-align: justify;
}

.img-pr{
    width: 50%;
    display: flex;
    justify-content: center;
}

.img-pr img{
    width: 100%;
    transform: scale(1);
    transition: all .5s;
}

.container-pr:hover .img-pr img{
    transform: scale(1.15);
}

/* GRID LAYOT */
#servicios{
    height: 100vh;
    background: #fff;
    padding: 40px;
}
.serv-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.serv-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 30px;
    grid-template-areas:    "ingredientes imagen imagen rapidez"
                            "calidad imagen imagen delivery";
}
.calidad{
    grid-area: calidad;
}

.ingredientes{
    grid-area: ingredientes;
}

.img-cent{
    grid-area: imagen;
    transition: all .5s;
}
.img-cent img{
    width: 90%;
    height: 400px;
}

.img-cent:hover{
  transform: scale(1.1);
}

.tiempo{
    grid-area: rapidez;
}

.rapidez{
    grid-area: delivery;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.items span{
    text-align: center;
    width: 95px;
    font-size: 40px;
    color: var(--color-secundario);
    padding: 20px;
    border: 5px double #dedede;
    border-radius: 50%;
    transition: all .5s;
}

.items span:hover{
    background: var(--color-secundario);
    color: #fff;
}

.ingredientes span,
.calidad span{
    color: var(--color-primario);
}
.ingredientes span:hover,
.calidad span:hover{
    color: var(--color-primario);
    color: #fff;
}

.items .title-item{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.items .text-item{
    font-size: 14px;
    color: var(--texto-dif);
    text-align: center;
    font-style: italic;
}
/* FIN GRID */
/* Flexbox  equipos*/
#equipo{
    height: 100vh;
    display: flex;
}
.person{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}
.person:hover{
    flex-grow: 3;
}

.person-img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
    transition: all .5s;
}

.person-img:hover{
    /* flex-grow: 3; */
    filter: grayscale(0%);
}

.person-info{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    transition: all .5s;
    opacity: 0;
}

.person:hover .person-info{
    opacity: 1;bottom: 60px;
    transition-delay: .3s
}

.person-info h2{
    font-size: 30px;
    color: #000;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 16%);
}

.person-info p{
    color: var(--color-secundario);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(39, 255, 1, 0.16);
}

.social-media a{ 
    display: inline-block;
    width: 40px;
    color: #fff;
    background: var(--color-secundario);
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all .5s;
}

.social-media a:hover{
    color: var(--color-secundario);
    background: transparent;
    transform: scale(2);
}
/* fin flex */
/* seccion ingredientes */
#ingredientes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ing{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 250px;
}

.img-ing{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.info-ingre{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .5);
   transition: all .3s;
}

.info-ingre p{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    transition: all .3s;
}

.info-ingre:hover{
    background: rgba(0, 0, 0, .25);
    /* transition: all .3s; */
}

.info-ingre p:hover{
    transform: translateY(10px);
}
/* final ingredientes */
/* Seccioón contacto */
#contacto{
    height: 100vh;
    padding: 60px;
    position: relative;
    box-sizing: border-box;
}

#form{
    width: 70%;
    margin: 20px auto;
    box-sizing: border-box;
}

.dos-campos{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


.input-text, .input-email, .textarea{
    border: 1px solid #b4b4b4;
    color: #888;
    background: #fff;
    outline: none;
    padding: 10px 60px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: all .3s;
}

.textarea{
    width: 100%;
    height: 150px;
    resize: none
}

.input-text,.input-email{
    width: 100%;
    /* transform: translateX(40px); */
}

.inpIcons{
    position: relative;
    width: 48%;
    display: flex;
}

.inpIcons i{
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    padding: 14px 15px;
    background: #888;
    display: flex;
    transition: all .3s;
}

.text-area-icon{
    width: 100%;
}

.text-area-icon i{
    background: transparent;
    color: #888;
    padding: 0;
    font-size: 25px;
    left: 17px;
    top: 13px;
    transition: all .5s;
}

/* .fiels{
    display: flex;
} */

.inpIcons input:focus,
.inpIcons textarea:focus{
    border: 1px solid var(--color-primario);
}

.inpIcons input:focus + i{
    background: var(--color-primario);
}

.inpIcons textarea:focus + i{
    color: var(--color-primario);
}

.field-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
/* fin contacto */
/* alertas */
.alertas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert{
    width: 60%;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    transition: all .3s;
}

.alert.show{
    transform: translateY(50%);
}

.alert.hide{
    transform: translateY(-100%);
}

.alert .icon-alert{
    position: absolute;
    left: 20px;
    top: 30px;
    transform: translateY(-50%);
    font-size: 30px;
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
}

#alert-error{
    background: #f8d7da;
    border-right: 4px solid #da3748;
}

#alert-error .icon-alert{
    color: #da3748;
}

#alert-error .msg{
    color: #721c24;
}
#alert-sucess{
    background: #31eb4aa6;
    border-right: 4px solid #059920;
}

#alert-sucess .icon-alert{
    color: #059920;
}

#alert-sucess .msg{
    color: #059920;
}


/* fin alertas */
/* MEdia Query Adaptable */
@media screen and (max-width:850px){
    /* SLIDER PRODUCTOS */
    .container-pr{
        flex-direction: column
    }

    .description-pr{
        width: 70%;
        order: 1;
        margin-right: 0;
    }

    .description-pr .btn{
        padding: 10px 20px;
    }

    .description-pr .btn:hover{
        padding: 10px 25px;
    }

    .img-pr img{
     margin-bottom: 20px;
    }
    /* grid layout servicios*/
    .serv-container{
        margin-top: 50px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:    "ingredientes rapidez"
                                "calidad delivery";
    }

    .img-cent{
        display: none;
    }
    /* grid layout */
    /* contactos */
    #form{
        width: 100%;
    }

    .dos-campos{
        flex-direction: column;
    }

    .inpIcons{
        width: 100%;
    }
}
